extends ../../layouts/admin-default

block content
  .row
    .col-sm-9.col-sm-offset-7.col-md-10.col-md-offset-2.main
        if data.path === '/admin/events'
                form.form-group.row(method='post', action='/admin/events')
                    input(type='hidden', name='action', value='createEvents')
                    if data.events.length > 0
                        .row
                            .col-md-6
                                input.form-control(type='text', placeholder='Search..')
                            .col-md-2
                                button.btn.btn-success(type='button', data-toggle='modal', data-target='#createEvents') Create Event
                        .table-responsive   
                            table.table.table-striped
                                thead
                                tr  
                                    th Title
                                    th Start Date
                                    th End Date
                                tbody
                                each event in data.events
                                    tr   
                                        td 
                                            a(href='/admin/events/'+event._id) #{event.title}
                                        td #{event.startDate}
                                        td #{event.endDate}
                    else
                        .jumbotron
                            h3 No event found...
                            button.btn.btn-success(type='button', data-toggle='modal', data-target='#createEvents') + Create Event
                    #createEvents.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createEventsLabel')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    h4#createEventsLabel.modal-title Create a new event
                                .modal-body
                                    .row
                                        .col-md-12   
                                            label  Title
                                            input.form-control(type='text', placeholder='title', name='title')
                                    .row
                                        .col-md-6   
                                            label  Start Date
                                            input.form-control(type='date', name='startDate')
                                        .col-md-6  Start Time   
                                            input.form-control(type='time', name='startTime')
                                    .row
                                        .col-md-6   
                                            label  End Date
                                            input.form-control(type='date', name='endDate')
                                        .col-md-6  End Time   
                                            input.form-control(type='time', name='endTime')
                                .modal-footer                                    
                                    button.btn.btn-primary(type='submit', name='createEvents') Create
                                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close