extends ../../layouts/admin-default

block content
  .row
    .col-sm-9.col-sm-offset-7.col-md-10.col-md-offset-2.main
      .jumbotron
          h3 No sector found...
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#createSectors') + Create Sector
          #createSectors.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createSectorsLabel', onclick='window.location.reload();')
              .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#createSectorsLabel.modal-title Create a new sector
                    .modal-body
                        .row
                            .col-md-12   
                                label  Name
                                    input.form-control(type='text', placeholder='name', name='name')
                        .row
                            .col-md-12   
                                label  Industry
                    .modal-footer                                    
                        button.btn.btn-primary(type='submit', name='createSectors') Create
                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close