extends ../../layouts/admin-default

block content
  .row
    .col-sm-9.col-sm-offset-7.col-md-10.col-md-offset-2.main
      .jumbotron
          h3 No technology found...
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#createTechnologies') + Create Technology
          #createTechnologies.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createTechnologiesLabel', onclick='window.location.reload();')
              .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#createTechnologiesLabel.modal-title Create a new technology
                    .modal-body
                        .row
                            .col-md-12   
                                label  Title
                                    input.form-control(type='text', placeholder='title', name='title')
                    .modal-footer                                    
                        button.btn.btn-primary(type='submit', name='createTechnologies') Create
                        button.btn.btn-default(type='button', data-dismiss='modal', onclick='window.location.reload();') Close